* {
  box-sizing: border-box;
  margin: 0px;
}

.header {
  border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
}

.header-content {
  border: 1px solid green;
  display: flex;
}

.header-content .company-name {
  border: 1px solid red;
  flex: 0 0 100px;
}
.header-content .company-menus {
  border: 1px solid red;
  flex: 1 0 auto;
}
.sidenav {
  border: 1px solid green;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 50px;
  /* min-width: 80px; */
  background-color: beige;
  display: flex;
  flex-direction: column;
}
.sidenav-items1 {
  flex: 1 0 auto;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.sidenav-menus {
  display: flex;
  border: 1px solid green;
  padding: 5px;
  margin: 2px;
}

.sidenav-menus .menuicon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}

.sidenav-menus .menuname {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
}

.sidenav-items2 {
  flex: 0 0 auto;
}

.hide-menu-name {
  display: none;
  visibility: hidden;
}
.hide-sidenav {
  display: none;
  visibility: hidden;
}
.show-sidenav {
  display: block;
  visibility: visible;
}
.content {
  border: 1px solid yellow;
  height: 100vh;
  /* overflow: auto; */
}

.content-container {
  margin-top: 50px;
  margin-left: 90px;
}

.content-container-hide-sidenav {
  margin-left: 0px;
}
.content-container-show-sidenav {
  margin-left: 80px;
}

.content-container-hide-sidenav-icon {
  margin-left: 50px;
}
.content-container-show-sidenav-icon-menu {
  margin-left: 80px;
}

.company-info {
  height: 1500;
  border: 1px solid pink;
}
